## Task 1
Начнём с простого: сохраните в переменную **age** произвольный возраст, выраженный целым числом, а в переменную **name** – какое-нибудь имя в виде строки.

In [1]:
age = 25
name = 'John'

## Task 2
Создайте список **user_info**, содержащий 4 элемента в следующем порядке:

 - 2 строки (имя и фамилия пользователя)
 - 1 дробное число (зарплата)
 - 1 целое число (стаж)

In [ ]:
user_info = ['John', 'Smith', 100000.5, 3]

## Task 3
Поместите в переменную **first** первый (т.е. нулевой) элемент из списка **salaries**.

In [13]:
salaries = [42, 100, 70, 80]
first = salaries[0]

## Task 4
Добавьте в уже созданный список users элементы 'Voronov' и 42.

In [17]:
users = ['John', 'Will', 'Jaden']
users.extend(['Voronov', 42])

## Task 5
В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

In [52]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for age in user_ages: 
    if age > 18: 
        print(age)

21
35
42
27

## Task 6
Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку:
 - user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

 - 'junior' — стаж меньше 2 лет
 - 'middle' — стаж больше либо равен 2 лет и меньше или равен 5
 - 'senior' — стаж больше 5 лет

In [58]:
worker = ['Olya', 'Silyutina', 350000, 3]
options = {1: 'junior', 2: 'middle', 3: 'middle', 4: 'middle', 5: 'middle'}
if int(worker[3]) in options: 
    position = options[int(worker[3])]
else: 
    position = 'senior'

status = f'{worker[0]} {worker[1]} is {position}'
status

'Olya Silyutina is middle'

## Task 7
В списке **values** содержатся числовые значения. Создайте список **tens** и добавьте в него все числа из values, которые делятся на 10 нацело.

In [41]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = [value for value in values if value%10 == 0]
tens

[10, 100, 20, 50, 160, 210]

## Task 8
Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку:

 - user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

 - 'junior' — стаж меньше 2 лет
 - 'middle' — стаж больше либо равен 2 лет и меньше или равен 5
 - 'senior' — стаж больше 5 лет

In [30]:
workers = [['Ivan', 'Ivanov', 100000, 2], 
           ['Petr', 'Petrov', 150000, 2], 
           ['Sidor', 'Sidorov', 200000, 3]]
options = {1: 'junior', 2: 'middle', 3: 'middle', 4: 'middle', 5: 'middle'}

for worker in workers:
    if worker[3] in options: 
        position = options[worker[3]]
    else: 
        position = 'senior'
    status = f'{worker[0]} {worker[1]} is {position}'
    print(status)

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

## Task 9
Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while

In [65]:
lst = []
n = 0
N = 10
dn = 2

while n <= N: 
    lst.append(n)
    n += dn
lst

[0, 2, 4, 6, 8, 10]

## Task 10

In [4]:
salaries_keys = ['name', 'surname', 'age', 'salary', 'position']
salaries_values = ['Masha', 'Volkova', '25', '60000', 'junior']
salaries_dict = dict(zip(salaries_keys, salaries_values))
salaries_dict

{'name': 'Masha',
 'surname': 'Volkova',
 'age': '25',
 'salary': '60000',
 'position': 'junior'}

## Task 11

In [49]:
logins = ['mvolkova','pvoronov','pparker','akarpov']
names = ['Masha','Peter','Peter','Anatoly']
surnames = ['Volkova', 'Voronov', 'Parker', 'Karpov']
ages = [25, 27, 35, 30]
salarys = [60000, 100000, 150000, 250000]
positions = ['junior', 'junior', 'middle', 'senior']

users_dict = {
    z[0]: {'name': z[1], 'surname': z[2], 'age': z[3], 'salary': z[4], 'position': z[5]} 
    for z in zip(logins, names, surnames, ages, salarys, positions)
}
users_dict

{'mvolkova': {'name': 'Masha',
  'surname': 'Volkova',
  'age': 25,
  'salary': 60000,
  'position': 'junior'},
 'pvoronov': {'name': 'Peter',
  'surname': 'Voronov',
  'age': 27,
  'salary': 100000,
  'position': 'junior'},
 'pparker': {'name': 'Peter',
  'surname': 'Parker',
  'age': 35,
  'salary': 150000,
  'position': 'middle'},
 'akarpov': {'name': 'Anatoly',
  'surname': 'Karpov',
  'age': 30,
  'salary': 250000,
  'position': 'senior'}}